<section class="py-5">
    <div class="container">
        <h1 class="fw-bold mb-3 text-3xl">Forget Password</h1>
        <div class="row justify-content-center gy-3">
            @if(errorMessage)
            {
                <div class="col-md-8">
                    <p class="alert alert-danger mb-0">{{errorMessage}}</p>
                </div>
            }
            @if(formNumber == 1){
                <form class="col-md-8" [formGroup]="emailForm" (ngSubmit)="verifyEmail()">
                    <label class="fw-semibold" for="email">Email :</label>
                    <input type="email" id="email" class="border text-gray-900 text-sm font-bold rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required formControlName="email"/>
                    @if(emailForm.get('email')?.errors && emailForm.get('email')?.touched)
                    {
                        @if(emailForm.get('email')?.errors?.['required'])
                        {
                        <div>
                            <p class="alert alert-danger mt-2">Email is required</p>
                        </div>
                        }
                        @else if(emailForm.get('email')?.errors?.['email'])
                        {
                        <div>
                            <p class="alert alert-danger mt-2">Email is invalid</p>
                        </div>
                        }
                    }
                    <div class="text-end mt-3">
                        <button [disabled]="emailForm.invalid" class="btn text-white btn-main">Verify
                            @if (isLoading) {
                            <i class="fa-solid fa-spinner fa-spin ms-1"></i>
                            }
                        </button>
                    </div>
                </form>
            }
            @else if (formNumber == 2) {
                <form class="col-md-8" [formGroup]="codeForm" (ngSubmit)="verifyCode()">
                    <label class="fw-semibold" for="resetCode">Reset Code :</label>
                    <input type="text" id="resetCode" class="border text-gray-900 text-sm font-bold rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required formControlName="resetCode"/>
                    @if(codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched)
                    {
                        @if(codeForm.get('resetCode')?.errors?.['required'])
                        {
                        <div>
                            <p class="alert alert-danger mt-2">Code is required</p>
                        </div>
                        }
                    }
                    <div class="text-end mt-3">
                        <button [disabled]="codeForm.invalid"  class="btn text-white btn-main">Send
                            @if (isLoading) {
                            <i class="fa-solid fa-spinner fa-spin ms-1"></i>
                            }
                        </button>
                    </div>
                </form>
            }@else if (formNumber == 3){
                <form class="col-md-8" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                    <label class="fw-semibold mt-3" for="newPassword">New Password :</label>
                    <input type="password" id="newPassword" class="border text-gray-900 text-sm font-bold rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required formControlName="newPassword"/>
                    @if(resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched)
                    {
                        @if(resetForm.get('newPassword')?.errors?.['required'])
                        {
                        <div>
                            <p class="alert alert-danger mt-2">Password is required</p>
                        </div>
                        }
                        @else if(resetForm.get('newPassword')?.errors?.['pattern'])
                        {
                        <div>
                            <p class="alert alert-danger mt-2">Password must start with uppercase and contains at between 5 to 14 numbers or lowercase characters</p>
                        </div>
                        }
                    }
                    <label class="fw-semibold mt-3" for="confirmPassword">Confirm New Password :</label>
                    <input type="password" id="confirmPassword" class="border text-gray-900 text-sm font-bold rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required formControlName="confirmPassword"/>
                    @if(resetForm.get('confirmPassword')?.errors && resetForm.get('confirmPassword')?.touched)
                    {
                        @if(resetForm.get('confirmPassword')?.errors?.['required'])
                        {
                        <div>
                            <p class="alert alert-danger mt-2">Field is required</p>
                        </div>
                        }
                        @else if(resetForm.get('confirmPassword')?.errors?.['confirmPasswordError'])
                        {
                        <div>
                            <p class="alert alert-danger mt-2">Password must be matched</p>
                        </div>
                        }
                    }
                    <div class="text-end mt-3">
                        <button [disabled]="resetForm.invalid"  class="btn text-white btn-main">Reset Password
                            @if (isLoading) {
                            <i class="fa-solid fa-spinner fa-spin ms-1"></i>
                            }
                        </button>
                    </div>
                </form>
            }
            
            
        </div>
    </div>
</section>