<section class="py-5 bg-gray-300 position-relative">
    <div class="container">
        <div class="row gy-3">
            <div class="col-12">
                <h2 class="fw-bold text-lg md:text-2xl">Get The FreshCart app</h2>
                <p class="text-slate-500 mt-3 text-sm md:text-lg">we will send you a link, open it on your phone to download the app.</p>
            </div>
            <div class="col-md-9 px-4">
                    <input type="email" id="email" placeholder="Email .." class="border text-gray-900 text-sm font-bold rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required formControlName="email"/>
            </div>
            <div class="col-md-3 px-4">
                <button class="btn text-white btn-main w-100">Share App Link</button>
            </div>
            <div class="col-md-12 px-4 border-y-2 my-4">
                <div class="flex flex-col xl:flex-row justify-between py-4">
                    <div class="flex items-center justify-between">
                        <span class="my-3 fw-bold text-sm md:text-lg">Payment Partners</span>
                        <div class="flex items-center gap-3 ms-3">
                            <span ><img src="../../../../assets/images/Amazon_Pay_logo.svg.png" class="w-12 pt-2" alt=""></span>
                            <span ><img src="../../../../assets/images/express.png" class="w-12 pt-2" alt=""></span>
                            <span ><img src="../../../../assets/images/MasterCard_Logo.png" class="w-12 pt-2" alt=""></span>
                            <span ><img src="../../../../assets/images/paypal.png" class="w-12 pt-2" alt=""></span>
                        </div>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="my-3 fw-bold text-sm md:text-lg">Get deliveries withe FreshCart</span>
                        <div class="flex items-center gap-3 ms-3">
                            <span ><img src="../../../../assets/images/AppStore.png" class="w-36 " alt=""></span>
                            <span ><img src="../../../../assets/images/GoogleStore.png" class="w-36 " alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>